{% extends "base_generic.html" %}

{% block content %}
  <h1>Alamz Library Home</h1>
  <p>Welcome to Alamz Library, a website developed by <em>Hussein Alamutu</em>!</p>
  <h2 style="color:#aa336a;">README.md</h2>
  <p>This website was created to showcase my Back End skills using the Python Framework(Django). You can access the dashboard by adding /admin to the sites main url i.e "site-name/admin". The login details: Username - alamz, Password - LOCALlibrary.</p>
  <p>This web application creates an online catalog for a small local library, where users can browse available books and manage their accounts.

The main features that have currently been implemented are:

There are models for books, book copies, genre, language and authors.</p>
    <p>  Users can view list and detail information for books and authors.
    Admin users can create and manage models. The admin has been optimised (the basic registration is present in admin.py, but commented out).
    Librarians can renew reserved books</p>
  <h2>Library content</h2>
  <p>The library has the following record counts:</p>
  <ul>
    <li><strong>Books:</strong> {{ num_books }}</li>
    <li><strong>Copies:</strong> {{ num_instances }}</li>
    <li><strong>Copies available:</strong> {{ num_instances_available }}</li>
    <li><strong>Authors:</strong> {{ num_authors }}</li>
    <li><strong>Financial Books:</strong> {{ num_genre_word }}</li>
    <li><strong>Books on riches:</strong> {{ num_books_word }}</li>
  </ul>

  <p>You have visited this page {{ num_visits }} time{{ num_visits|pluralize }}.</p>
{% endblock %}

